.menu {
    display: flex;
    flex-direction: column;
    padding: 2.25rem 1rem;
    gap: 3rem;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    visibility: visible;
    opacity: 1;
    border-right: solid 1px #F7F7F9;

    .logo {
      width: 120px;
    }
    .navigation_menu {
        height: 100%;

        .navigation_menu_item {
            display: flex;
            align-items: flex-start;
            gap: 12px;
            border-radius: 8px;
            padding: 12px;
            .menu_icon {
                i {
                }
            }
            a {
                width: 100%;
                @include font_body_regular_md;
            }
            &.active,
            &:hover {
                background-color: #ecf0fb;
                color: #366cd9;
            }
        }

    }
    .menu_footer {
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        gap: 1rem;
        margin-top: 40px;
        .menu_footer_item {
            @include font_body_regular_md;
            gap: 12px;
        }
        .menu_footer_rights {
            margin-top: 2rem;
            .footer_icon {
            }
            .footer_label {
                @include font_body_sm_grey;
            }
        }
    }

    
    @media screen and (max-width:390px){
        display: none;
        
    }

}
